@use '../base/variables';
@use '../base/mixins';

.contact {
    padding: 100px 0;
    @include mixins.flex();
}
.contact-container {
    @include mixins.flex($a:start);
    border: solid 1px variables.$nav-link-color;
    border-radius: 10px;
    padding: 30px;
    gap: 30px;
    width: 50%;
    @include mixins.responsive(tablet) {
        width: 75%;
    }
    @include mixins.responsive(mobile) {
        width: 100%;
    }
    h3 {
        color: variables.$subheading-color;
        text-align: center;
    }
}